@{
    ViewData["Title"] = "Dashboard Page";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card" >
                @*<img src="~/images/Product.jpg" class="card-img-top" alt="..." style="height:150px;">*@
                <div style="height:100px;width:100%;background-color:lightgoldenrodyellow;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">PRODUCTS</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a asp-controller="Product" asp-action="Index" class="btn btn-primary">PRODUCTS</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card" >
                @*<img src="~/images/StockIn.jpg" class="card-img-top" alt="..." style="height:150px;">*@
                <div style="height:100px;width:100%;background-color:palegreen;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">STOCK IN</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a asp-controller="StockIn" asp-action="Index" class="btn btn-primary">STOCK IN</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card" >
                @*<img src="~/images/StockOut.jpg" class="card-img-top" alt="..." style="height:150px;">*@
                <div style="height:100px;width:100%;background-color:blueviolet;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">STOCK OUT</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a asp-controller="StockOut" asp-action="Index" class="btn btn-primary">STOCK OUT</a>
                </div>
            </div>
        </div>
    </div>


    
</div>


